.ant-dropdown {
  ul {
    background: var(--box-color);
    padding: 5px;
    margin: 0;
    li {
      display: flex;
      justify-content:flex-start;
      align-items: center;
      column-gap: .5rem;
      cursor: pointer;
      padding: 0.5rem .8rem;
      font-weight: 700;
      transition: opacity 0.5s ease-in-out;
      color: var(--white-text) !important;
      &:hover {
        background: var(--box-hover-color);
        opacity: 0.8;
      }
    }
    .active-dropdawn{
      background: var(--box-hover-color);
    }
  }
}
