.ant-dropdown {
  .ant-dropdown-menu {
    background: var(--box-color);
    .ant-dropdown-menu-item {
      padding: 0.5rem 1rem;
      font-weight: 700;
      transition: opacity 0.5s ease-in-out;
      color: var(--white-text) !important;
      &:hover {
        background: var(--box-hover-color);
        opacity: 0.8;
      }
    }
  }
}
.dropdown-Btn {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: .5rem;
  position: relative;
  background: transparent;
  color: var(--white-text);
  border-radius: 40px;
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  font-size: 17px;
  cursor: pointer;
  font-weight: 400;
  white-space: nowrap;
  transition: background 0.1s ease-in-out;
  &:hover {
    background: var(--box-hover-color);
  }

}
