.SongCardPlayerBox {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  width: 100%;
  z-index: 9;
  background: var(--box-color);
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--box-hover-color);
  .SongCardPlayerGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 2rem;
    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .SongCardPlayerInfo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 900px) {
        display: none;
      }
    }
    .SongCardPlayerAction {
      width: 100%;
      z-index: 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
    .SongCardPlayerOptions {
      @media (max-width: 900px) {
        display: none;
      }
      z-index: 2;
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
.SongCardPlayerBoxEmpty {
  z-index: 22;
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  width: 100%;
  background: var(--empty-music-player-color);
  padding: 0.5rem 1rem;
  min-height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
}
