.SongCardInfoBox {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  .SongCardInfoImg {
    z-index: 2;
  }
  .SongCardInfoTitles {
    z-index: 2;
    max-width: 200px;
    margin-left: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
