@mixin categoryCard {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.9;
    transform: translateY(-3px);
  }
}
@mixin title {
  display: inline-block;
  font-weight: 700;
  color: var(--white);
}
@mixin img {
  position: absolute;
  border-radius: 6px;
  object-fit: contain;
  box-shadow: -2px, 2px, 6px rgba(0, 0, 0, 0.15);
  transform: rotate(25deg);
}
.CategoryCardBox {
  @include categoryCard();
  min-width: 514px;
  height: 254px;

  .CategoryCardTitle {
    @include title();
    font-size: 2rem;
  }

  .CategoryCardImg {
    @include img();
    width: 164px;
    height: 164px;
    right: -30px;
    bottom: -5%;
    box-shadow: var(--img-shadow);
  }
}
.CategoryCardSquareBox {
  @include categoryCard();
  width: 200px;
  height: 200px;

  .CategoryCardTitle {
    @include title();
    font-size: 1.7rem;
  }
  .CategoryCardImg {
    @include img();
    width: 128px;
    height: 128px;
    right: -30px;
    bottom: -5%;
    box-shadow: var(--img-shadow);
  }
}
