.CategoryCardBox {
  min-height: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.9;
    transform: translateY(-3px);
  }
  .CategoryCardTitle {
    display: inline-block;
    font-weight: 700;
    color: var(--white);
    font-size: 1.5rem;
    width: 180px;
    text-overflow: ellipsis;
  }
  .CategoryCardImg {
    position: absolute;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: -2px, 2px, 6px rgba(0, 0, 0, 0.15);
    transform: rotate(25deg);
    width: 128px;
    height: 128px;
    right: -30px;
    bottom: -5%;
    box-shadow: var(--img-shadow);
  }
}
