.AlbumListItemPageBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  .AlbumListItemPageBoxShowCase {
    width: 100%;
    padding: 1rem 2rem;
  }
  .AlbumListItemPageSongs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    @media (max-width: 500px) {
      padding: 2rem .5rem;
    }
    .AlbumListItemPageSongsAction {
      width: 100%;
      display: flex;
      margin-bottom: 1rem;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 600px) {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
      }
      .AlbumListItemPageSongsControll {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
      }
    }
  }
}
