.SearchBox {
  padding: 1rem;
  .SearchInputBox {
    margin-bottom: 1rem;
    @media (min-width: 550px) {
      display: none;
    }
  }
  .SearchGridBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    grid-gap: 1rem;

    @media (max-width: 500px) {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }
}
