.MyInput {
  background: var(--white);
  border: 1px solid var(--main-border);
  padding: 0.3rem 1rem;
  border-radius: 26px;
  .MyInputLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input {
    all: unset;
    width: 100%;
    min-width: 300px;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 0.7rem;
    &::placeholder {
      color: #393939;
      letter-spacing: 0.5px;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
