.SongListItemTitleBox {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(192, 192, 192, 0.2);
  & :nth-child(1) {
    flex: 0.4;
  }
  & :nth-child(2) {
    flex: 0.3;
  }
  & :nth-child(3) {
    flex: 0.3;
  }
}
