.SongListItemBox {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  @media (max-width: 650px) {
    grid-template-columns: 4fr 1fr;
  }
  padding: 0.4rem 1rem;
  @media (max-width: 500px) {
    padding: 0.4rem;
  }
  background: transparent;
  transition: background 0.2s ease-in-out;
  .SongListItemBoxLeft {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .SongListItemBoxRight {
    // padding-right: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .SongListItemBoxCenter {
    @media (max-width: 650px) {
      display: none;
    }
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background: var(--box-hover-color);
  }
}
