.SongListItemBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  background: transparent;
  transition: background 0.2s ease-in-out;
  .SongListItemBoxLeft {
    flex: 0.4;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .SongListItemBoxRight {
    padding-right: 1rem;
    flex: 0.3;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .SongListItemBoxCenter {
    flex: 0.3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background: var(--box-hover-color);
  }
}
